<%= form_for(@clump) do |f| %>
  <% if @clump.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clump.errors.count, "error") %> prohibited this clump from being saved:</h2>

      <ul>
      <% @clump.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form role="form">
    <div class="form-group">
      <%= f.label :url %><br>
      <%= f.text_field :url, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :shit %><br>
      <%= f.check_box :shit, class: "checkbox" %>
    </div>
    <div class="">
      <%= f.submit %>
    </div>
</form>
<% end %>

