<%= form_for(@clump) do |f| %>
  <% if @clump.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clump.errors.count, "error") %> prohibited this clump from being saved:</h2>

      <ul>
      <% @clump.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :shit %><br>
    <%= f.check_box :shit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
