<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @clump.url %>
</p>

<p>
  <strong>Shit:</strong>
  <%= @clump.shit %>
</p>

<%= link_to 'Edit', edit_clump_path(@clump) %> |
<%= link_to 'Back', clumps_path %>
